<h1>Listing people</h1>

<table>
<% for person in @people %>
  <tr>
    <td><h1><%= link_to image_tag('icons/PNG-24/Profile.png',:size=>'24x24') + ' ' + person.name, person %></h1></td>
  </tr>
<% end %>
</table>
